/* Ensure the body and html take the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    flex: 1;
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

/* Form styles */
#search {
    margin-bottom: 2rem;
}

#weather-form {
    display: flex;
    gap: 1rem;
}

#city-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#change-scale-btn {
    display: flex;
    margin-left: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* Weather display styles */
#weather-display {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

 #weather-display-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 



#weather-container {
    font-size: 1.2rem;
}

/* Favorites display styles */
#favorites-display {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

#favorites-container {
    font-size: 1.2rem;
}


p {
    margin: 0.5rem 0;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    flex-shrink: 0; 
}
