
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}   

body {
    font-family: 'Patrick Hand', 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.container-hero {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container-stock-ticker {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

.container-game-name h3 {
    color: white;
    display: flex;
    flex-direction: row;
}

.container-game {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.container-available-stocks {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: none;
    align-items: center;
    padding-top: 5rem;
    background-color: yellow;
}

.container-available-stocks-list {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 75%;
    overflow: none;
    background-color: white;

}

.table-stock-list {
    border-collapse: separate;
    border-spacing: 0 .5rem;
    text-align: center;
    width: 65%;
}

.table-stock-list td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-border-right {
    border-right: 1px solid black;
}

.table-border-left {
    border-left: 1px solid black;
}

.container-buy-sell {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 35%;
    overflow: none;
    /* align-items: center; */
    background-color: pink;
}

.table-buy-sell {
    border-collapse: separate;
    border-spacing: 0 .5rem;
    text-align: center;
    width: 75%;
    margin-left: 1rem;
}

.buy-table-border-left {
    border: 1px solid darkgreen;
    border-top-left-radius: .31rem;
    border-bottom-left-radius: .31rem;
    background-color: darkgreen;
    color: white;
}

.sell-table-border-right {
    border-top: 1px solid darkred;
    border-right: 1px solid darkred;
    border-bottom: 1px solid darkred;
    border-top-right-radius: .31rem;
    border-bottom-right-radius: .31rem;
    background-color: darkred;
    color: white;
}

.buy-btn:hover {
    border: 1px solid green;
    background-color: green;
}

.sell-btn:hover {
    background-color: red;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}








.container-portfolio {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: none;
    align-items: center;
    padding-top: 5rem;
    background-color: orange;
    text-wrap: wrap;
}


















/* Media Queries */

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .container-hero {
      flex: 1 1 100%; /* Full width for smaller screens */
    }
  
  }
  
  /* Small screens (phones) */
  @media (max-width: 480px) {
    body {
      font-size: 14px;
      padding: 1rem;
    }
  
  }